*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
}

body{
	background-color: #b0c4de;
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	overflow: auto;
}

@font-face{
	font-family: foldeck;
	src: url('font/Foldeck.ttf');
}
@font-face{
	font-family: herlock;
	src: url('font/Herlock.ttf');
}

@font-face{
	font-family: yellowJelly;
	src: url('font/YellowJelly.ttf');
}

.home{
	/*display: none;*/
	height: 1.5em;
	width: 3em;
	position: absolute;
	left: 0;
	top: 0;	
}

button{
	/*font-family: foldeck;*/
	color: white;	
	background-color: #101060;
	border-color: #ffffff;
}

.home button{
	display: block;
	height: 100%;
	width: 100%;
	font-size: 0.8em;	
	color: white;	
	border-radius: 20%;
}

#wrapper{	
	position: absolute;			
	height: 90%;
	width: 90%;	
	left: 5%;
	top: 5%;
	border: 5px solid black;	
	border-radius: 0 50px 50px 50px;	
	background: linear-gradient(#835CB5 , #598AB3);
	/*background-image: url('UI-images/desk.png');*/
	box-shadow: -5px 3px 3px #5e5e5e;
	text-align: center;
}

.player img{
	height: 35%;
	width: 25%;
	padding-left: 0;
	margin-left: 0;		
	box-shadow: -2px 2px 1px #5e5e5e;
}

.player img~img{
	margin-left: -17%;
}

.player{	
	height: 40%;
	width: 95%;
	text-align: center;
	/*border: 1px solid;*/
	margin-left: 2.5%;	
}

.player_name {
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	height: 10%;
	width: 80px;	
	text-align: center;
	margin-top: 2%;
	/*font-family: foldeck;*/
	font-size: 25px;
	/*border: 1px solid;*/
}

.info{	
	height: 10%;
	width: 100%;	
	margin-bottom: 3%;
	/*border: 1px solid;*/
}

.result, .value{
	display: inline-block;	
	vertical-align: middle;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	font-family: foldeck;	
	/*border: 1px solid;*/
}

.value{
	font-size: 1em;
	float: left;
}

.result{
	font-size: 1em;
	/*color: #CD0000;*/	
	float: right;
	/*border: 2px dashed #1C86EE;*/
	margin-left: 35%;	
}

.pokers{
	display: inline-block;
	vertical-align: bottom;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	margin-top: 5%;
	/*border: 1px solid;*/
}

.raise{
	/*position: absolute;*/
	height: 15%;
	width: 100%;
	left: 0;
	top: 40%;
	/*border: 1px solid;*/
	font-size: 1em;

}

.raise p{
	display: inline-block;
	font-family: foldeck;
}

.raise button{
	display: inline-block;
	height: 100%;
	width: 20%;
	font-size: 0.8em;
	border-radius: 50%;
	margin-top: 10px;
}

.player_btn button{
	/*float: left;*/
	height: 10%;
	width: 20%;
	font-size: 0.8em;
	text-align: center;	
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	/*border: 1px solid;*/
	display: none;
}

#hit2{		
	left: 40%;
}

#stand2{
	left: 70%;
}

.deal{
	height: 10%;
	width: 20%;
	position: absolute;
	left: 10%;
	bottom: 0;
}
	
.deal button{		
	display: block;
	height: 100%;
	width: 100%;
	font-size: 1em;
	/*border-color: #1C86EE;
	background: linear-gradient(#1C86EE, #00BFFF, #1C86EE);*/
	border-radius: 50%;
}

#hide_layer{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.3);
	display: none;
}

.pop_window{
	width: 300px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -100px;
	background: linear-gradient(#fff, #6a9bc4);
	border: 2px solid #000;
	border-radius: 5px;
	box-shadow: -2px 2px 2px #333;
	/*font-weight: bold;*/
	text-align: center;
}

.pop_window p{
	margin-top: 30px;
}

.pop_btn{
	font-size: 1em;
	width: 4em;
	height: 1.5em;	
	margin-top: 50px;
	margin-left: 20px;
}