*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #fff;
}

.box{
	background-color: #ccc;
	height: 200px;
	width: 400px;	
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -200px;
}

.fan{
	height: 50px;
	width: 50px;
	background-color: #fc0;
}

#fan1{
	
	border-radius: 0 0 50px 0px;
}

#fan2{	
	border-radius: 50px 0 0 0px;
	position: absolute;
	right: 0;
	bottom: 0;
}